# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build
.gitattributes
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
app/src/main/resources/
app/src/test/resources/
gradle/
gradlew
gradlew.bat

app/out
